DB_USER=pawrise
DB_PASSWORD=pawrise123
DB_NAME=pawrise_care
DB_HOST=localhost
DB_PORT=5432

KAFKA_BROKER_URL=localhost:9092
KAFKA_TOPIC=dog_metrics_topic
AZURE_OPENAI_API_KEY=your_api_key
AZURE_OPENAI_ENDPOINT=https://your-endpoint.openai.azure.com/
COHERE_API_KEY=your_cohere_key
