# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.ruff_cache
.env.example

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Docker
.dockerignore

# Context
CONTEXT.md